* {
  margin: 0;
  padding: 0;
}

.clearfix::after{
	content: "";
	clear:both;
	display: block;
}

a { text-decoration: none;}
a:hover { text-decoration: none;}

/*******top banner********/
.container{
	width: 100%;
	height: 70px;
	/*position: fixed;*/
	background-color: #d8bfd8;
	/*margin-bottom: 50px;*/
}

.logomark{
	height: 70px;
	width: 150px;
	float:left;
}

/*.rect{
	height: 70px;
	background-color: #d8bfd8;*/
/*position: fixed;*/
}

.middle{
	width: 700px;
	height: 70px;
	margin: 0 auto;
	float:left;
}

.navilist{
	float: right;
	width: 15%;
	height: 70px;
	list-style: none;
	line-height: 70px;
	color: #FFF;
	font-size: 15px;
	text-align:center;
}

/*******top page********/

.mainvisual{
height: 650px;
width: 100%;
background-image: url(photo/top.jpg);
background-size: contain;
background-position: top;
background-repeat: no-repeat;
margin-top: 85px;
}

.title{
	color: #FFF;
	padding-top: 237px;
	/*padding-left: 654px;*/
	font-size: 30px;
	font-weight: 200;
	text-align: center;
}



/*******care********/



.all-box{
	height: 570px;
	width: 600px;
	padding-top: 60px;
	margin: 0 auto;
}

.rect2{
	width: 250px;
	height: 570px;
	float:right;
}

.title2{
	font-size: 20px;
	text-align:left;
}

.sentences{
	font-size: 15px;
	text-align:left;
}
.rect3{
	width: 100px;
	height: 570px;
	float:right;
}
.rect4{
	width: 250px;
	height: 570px;
	float:right;
	background-image:url(photo/honey.jpg);
	background-size: cover;
}

.care{
	color: #FFF;
	font-size: 20px;
	text-align:center;
    padding-top: 277px;
}

/*******material********/


.all-box2{
	height: 570px;
	width: 600px;
	padding-top: 60px;
	margin: 0 auto;
}

.rect5{
	width: 250px;
	height: 570px;
	float:right;
}
.title3{
	font-size: 20px;
	text-align:left;
}

.sentence2{
	font-size: 15px;
	text-align:left;
}
.rect6{
	width: 100px;
	height: 570px;
	float:right;
}
.rect7{
	width: 250px;
	height: 570px;
	float:right;
	background-image:url(photo/mint.png);
	background-size: cover;
}
.material{
	color: #FFF;
	font-size: 20px;
	text-align:center;
    padding-top: 277px;
}

/*******about bunga sabun*******/


.all-box{
	height: 570px;
	width: 600px;
	padding-top: 60px;
	margin: 0 auto;
}

.rect2{
	width: 250px;
	height: 570px;
	float:right;
}

.title2{
	font-size: 20px;
	text-align:left;
}

.sentences{
	font-size: 15px;
	text-align:left;
}
.rect8{
	width: 100px;
	height: 570px;
	float:right;
}
.rect9{
	width: 250px;
	height: 570px;
	float:right;
	background-image:url(photo/about-bunga.jpg);
	background-size: cover;
}

.care{
	color: #FFF;
	font-size: 20px;
	text-align:center;
    padding-top: 277px;
}

/*******main component********/

.soaptitle{
	height: 30px;
	width: 300px;
	margin: 0 auto;
	padding-top: 60px;
    line-height: 30px;
	text-align: center;
}
.titlesoap{
	font-size: 20px;
	text-align:center;
}

.all-box3{
	height: 200px;
	width: 760px;
	margin: 0 auto;
	border: 30px;
	padding-top:100px;
}

.boxrect{
	width: 200px;
	height: 200px;
	float:right;
}
.a8{ 
    background-image:url(photo/olive.jpg);
	background-size: cover;
}

.a9{
	/*width: 200px;
	height: 200px;
	float:right;*/
    background-image:url(photo/coco.jpg);
	background-size: cover;
	margin: 0px 80px 0px 80px;
}

.a10{
	/*width: 200px;
	height: 200px;
	float:right;*/
	background-image:url(photo/parm.jpg);
	background-size: cover;
}

.all-box4{
	height: 200px;
	width: 760px;
	margin: 0 auto;
	border: 30px;
	padding-top: 60px;
}

.a11{
	/*width: 200px;
	height: 200px;
	float:right;*/
}

.a12{
	/*width: 200px;
	height: 200px;
	float:right;*/
	margin: 0px 80px 0px 80px;
}

.a13{
	/*width: 200px;
	height: 200px;
	float:right;*/
}

/*下の二段*/

.all-box5{
	height: 200px;
	width: 760px;
	margin: 0 auto;
	border: 30px;
	padding-top: 60px;
}

.boxrect{
	width: 200px;
	height: 200px;
	float:right;
}
.a14{ 
    background-image:url(photo/eo.jpg);
	background-size: cover;
}

.a15{
	/*width: 200px;
	height: 200px;
	float:right;*/
    background-image:url(photo/honey2.jpg);
	background-size: cover;
	margin: 0px 80px 0px 80px;
}

.a16{
	/*width: 200px;
	height: 200px;
	float:right;*/
	background-image:url(photo/flower.jpg);
	background-size: cover;
}

.all-box6{
	height: 200px;
	width: 760px;
	margin: 0 auto;
	border: 30px;
	padding: 60px 0 60px 0;
}

.a17{
	/*width: 200px;
	height: 200px;
	float:right;*/
}

.a18{
	/*width: 200px;
	height: 200px;
	float:right;*/
	margin: 0px 80px 0px 80px;
}

.a19{
	/*width: 200px;
	height: 200px;
	float:right;*/
}

.sentence{
	font-size: 15px;
	text-align:center;
/*    padding-top: 30px;*/
}
.about-oils{
	font-size: 20px;
    /*padding: 60px;*/
}

/********soaps-page*******/

h1{
	padding: 30px 0;
	text-align: center;
}

.bigbox{
	width: 100%;
	/*height:1000px;*/
	/*background-color: blue;*/
	margin: 0 auto;
}

.top-position{
	font-size: 20px;
	text-align: center;
	padding: 40px  0px 40px 0px; 
	line-height: 60px;
}

.middlesize{
	/*height: 900px;*/
	width: 850px;
	/*margin-top: 30px;*/
	margin: 0 auto;
	padding-left: 155px;
}

.inbox1{
	/*height: 800px;*/
   /* width: 600px;*/
    /*background-color: red;*/
    float: left;
}

.inbox2{
/*	height: 800px;*/
    width: 100px;
    /*background-color: yellow;*/
    float: left;
}*

.inbox3{
/*	height: 800px;*/
    /*width: 600px;*/
    margin-left: 100px;
    /*background-color: red;*/
    float: left;
}

.two-couple-box{
	height: 200px;
	padding: 25px 0 250px 21px;
	box-sizing: border-box;
}

.mini-box{
	height: 150px;
	width: 150px;
	/*background-color: orange;*/
	float: left;
	/*margin: 70px 30px 30px 70px;*/
	margin: 10px;
	background-size:cover;
}

.soapsentence{
	font-size: 12px;
	text-align:left;
}

.no1{
	background-image: url(photo/pink-clay-soap.jpg);
}

.no3{
	background-image: url(photo/green-soap.jpg);
}

.no5{
	background-image: url(photo/himawari-soap-1.jpg);
}

.no7{
	background-image: url(photo/aloe-soap-1.jpg);
}

.no9{
	background-image: url(photo/orange-soap.jpg);
}

.no11{
	background-image: url(photo/honey-soap.jpg);
}

.no13{
	background-image: url(photo/kanpou-soap.jpg);
}

.no15{
	background-image: url(photo/olive-soap-1.jpg);
}

.no17{
	background-image: url(photo/milk-soap-1.jpg);
}

.no19{
	background-image: url(photo/choco-soap-1.jpg);
}

.soapsentence{
	font-size: 12px;
	text-align:left;
}


/*Each　soap page*/
/*pink clay soap s1*/

.all-soap-box{
	height: 500px;
	width: 1000px;
	padding-top: 80px;
	margin: 0 auto;
}

.soap-rect{
	width: 400px;
	height: 500px;
	float:right;
}

.soaps-title{
	font-size: 20px;
	text-align:left;
}

.soap-sentences{
	font-size: 15px;
	text-align:left;
}
.soap-rect3{
	width: 100px;
	height: 500px;
	float:right;
	/*background-size:100% 100%;*/
}

/*pink-clay-soap*/

.s1{
	background-image:url(photo/pink-clay-soap.jpg);
	background-size: 100% 100%;
}

/*green-soap*/

.s2{
	background-image:url(photo/green-soap.jpg);
	background-size: 100% 100%;
}
/*orange-soap*/

.s3{
	background-image:url(photo/orange-soap-2.jpg);
	background-size:  100% 100%;
}
/*kanpou-soap*/

.s4{
	background-image:url(photo/kanpou-soap-2.jpg);
	background-size: 100% 100%;
}
/*honey-soap*/
.s5{
	background-image:url(photo/honey-soap-2.jpg);
	background-size: 100% 100%;
}

/*himawari-soap*/
.s6{
	background-image:url(photo/himawari-soap-2.jpg);
	background-size: 100% 100%;
}

/*aloe-soap*/
.s7{
	background-image:url(photo/aloe-soap-2.jpg);
	background-size: 100% 100%;
}
/*olive-soap*/
.s8{
	background-image:url(photo/olive-soap-2.jpg);
	background-size: 100% 100%;
}
/*choco-soap*/
.s9{
	background-image:url(photo/choco-soap-2.jpg);
	background-size:100% 100%;
}
/*milk-soap*/
.s10{
	background-image:url(photo/milk-soap-2.jpg);
	background-size: 100% 100%;
}









/*.box {
	float: left;
	position: absolute;
	display: block;
	width: 300px;
	height: 300px;
	padding: 30px;
	border: 5px solid green;
	margin: 50px;
	background-color: red;
	box-sizing: border-box;
	text-align: center;
}
*/
/*
ボックスモデル
 - block
 - inline

box-sizing: content-box;
x = w + p + b

box-sizing: border-box;
w = x + p + b


*/







